.header__lang-container {
  margin: 18px 0 6px 18px;
  display: inline-block;
}

@media screen and (max-width:430px) {
  .header__lang-container {
      margin-top: 14px;
      margin-bottom: 8px;
  }

}