.place__url {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.165em;
  margin: 0;
  padding: 0;
  color: #AAAAAA;
  text-transform: uppercase;
}